---
import ImageMod from "@/components/ImageMod.astro";
import config from "@/config/config.json";
import type { CollectionEntry } from "astro:content";
import TrustedBrands from "./TrustedBrands.astro";

type Props = {
  banner: CollectionEntry<"homepage">["data"]["banner"];
};

const banner = Astro.props.banner;

const { bannerImages, bulletpoints, content, newsletterButton, title } = banner;
---

<section class="section ph-spacing bg-theme-light">
  <div class="container">
    <div class="flex flex-col items-center gap-16 lg:gap-28 text-center">
      <div class="lg:col-7 flex flex-col gap-y-8">
        <div>
          {
            title && (
              <h1
                set:html={title}
                class="mb-5"
                data-aos="fade-up-sm"
                data-aos-delay="0"
              />
            )
          }
          {
            content && (
              <p
                set:html={content}
                class="text-lg"
                data-aos="fade-up-sm"
                data-aos-delay="100"
              />
            )
          }
        </div>
        {
          newsletterButton && newsletterButton.enable && (
            <form
              action={config.newsletter.form_action}
              class="flex gap-3 justify-center flex-col sm:flex-row col-10 mx-auto"
              data-aos="fade-up-sm"
              data-aos-delay="200"
            >
              <input
                type="email"
                name="email"
                required
                class=" placeholder:text-text rounded-full border-transparent focus:border-primary focus:outline-none focus:ring-0 px-6 lg:w-80 min-h-[50px]"
                placeholder={newsletterButton.formPlaceholder}
              />
              <button
                type="submit"
                class="btn btn-primary py-5 min-w-max font-semibold"
              >
                {newsletterButton.label}
              </button>
            </form>
          )
        }

        {
          bulletpoints && bulletpoints.length > 0 && (
            <ul
              class="green-tick-list text-left flex justify-center flex-col items-center md:flex-row gap-5 md:gap-10"
              data-aos="fade-up-sm"
              data-aos-delay="200"
            >
              {bulletpoints.map((point) => (
                <li set:html={point} class="text-dark" />
              ))}
            </ul>
          )
        }
      </div>
      {
        bannerImages && (
          <div class="w-full grid grid-cols-12 gap-5">
            <div
              data-aos="fade-up-sm"
              data-aos-delay="200"
              class="col-span-5 w-full h-full"
            >
              <ImageMod
                src={bannerImages.left}
                alt="Banner Image"
                class=" w-full h-full object-cover rounded-2xl"
                width={500}
                height={400}
              />
            </div>

            <div
              class="col-span-3 w-full h-full"
              data-aos="fade-up-sm"
              data-aos-delay="350"
            >
              <ImageMod
                src={bannerImages.center}
                alt="Banner Image"
                class="w-full h-full object-cover rounded-2xl"
                width={300}
                height={400}
              />
            </div>
            <div
              class="col-span-4 w-full h-full"
              data-aos="fade-up-sm"
              data-aos-delay="500"
            >
              <ImageMod
                src={bannerImages.right}
                alt="Banner Image"
                class=" w-full h-full object-cover rounded-2xl"
                width={400}
                height={400}
              />
            </div>
          </div>
        )
      }
      <TrustedBrands />
    </div>
  </div>
</section>
