---
import BlogSearchBox from "@/components/BlogSearchBox.astro";
import CountriesServedSection from "@/components/CountriesServedSection.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import BlogSection from "@/partials/BlogSection.astro";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const COLLECTION_FOLDER = "blog";
const postIndex = (await getEntry(
  COLLECTION_FOLDER,
  "-index"
)) as CollectionEntry<"blog">;
const posts = await getSinglePage(COLLECTION_FOLDER);
const sortedPosts = sortByDate(posts);
const visiblePosts = sortedPosts.slice(0, config.settings.pagination);
const headingContent = postIndex.data.hero;
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <section class="ph-spacing mb-24">
    <PageHeader
      title={headingContent?.title}
      description={headingContent?.description}
    />
  </section>
  <BlogSearchBox />
  <BlogSection posts={visiblePosts} />
  <section class="section xl:-mt-10">
    <div class="container">
      <Pagination section={COLLECTION_FOLDER} totalPages={totalPages} />
    </div>
  </section>
  <CountriesServedSection />
  <CallToAction hasBackground={true} />
</Base>
