---
import Base from "@/layouts/Base.astro";
import AboutCompanies from "@/partials/AboutCompanies.astro";
import Accomplishments from "@/partials/Accomplishments.astro";
import CallToAction from "@/partials/CallToAction.astro";
import IntegrationToolsSection from "@/partials/IntegrationToolsSection.astro";
import PageHeader from "@/partials/PageHeader.astro";
// import TeamGallery from "@/partials/TeamGallery.astro";
import ServicesSection from "@/partials/ServicesSection.astro";
import TeamTestimonials from "@/partials/TeamTestimonials.astro";
import VisionAndMission from "@/partials/VisionAndMission.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const {
  title,
  meta_title,
  description,
  hero,
  gallery,
  accomplishments,
  visionMission,
  companies,
  teamTestimonials,
  why,
} = ((await getEntry("company", "-index")) as CollectionEntry<"company">).data;
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="ph-spacing">
    <PageHeader title={hero.title} description={hero.subtitle} />
  </section>

  <!-- Services Section -->
  <ServicesSection gallery={gallery} />
  
  <!-- Accomplishments Section -->
  <Accomplishments accomplishments={accomplishments} />
  
  <!-- Vision and Mission Section -->
  <VisionAndMission visionMission={visionMission} />
  
  <!-- About Companies Section -->
  <AboutCompanies companies={companies} />

  <!-- Why Section (conditionally rendered) -->
  {why?.enable && (
    <section class="py-20 sm:px-4 mt-0 mb-20">
      <div class="container text-center">
        <h2 class="text-h3 font-bold" data-aos="fade-up-sm">{why.title}</h2>
        <p class="text-lg text-dark/80 mt-4" data-aos="fade-up-sm">{why.description}</p>
      </div>
    </section>
  )}
  

  <!-- Team Testimonials Section -->
  <TeamTestimonials testimonials={teamTestimonials} />
  
  <!-- Integration Tools Section -->
  <IntegrationToolsSection hasBgColor={false} />
  
  <!-- Call to Action Section -->
  <CallToAction hasBackground={true} />
</Base>
