---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import IntegrationSection from "@/partials/IntegrationSection.astro";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, description, meta_title, pageHeader, list } = (
  (await getEntry("integrations", "-index")) as CollectionEntry<"integrations">
).data;
---

<Base title={title} meta_title={meta_title} description={description}>
  <div class="ph-spacing mb-24">
    <PageHeader title={pageHeader.title} description={pageHeader.subtitle} />
  </div>
  <IntegrationSection list={list} />
  <CallToAction hasBackground={true} />
</Base>
