---
import CountriesServedSection from "@/components/CountriesServedSection.astro";
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import FaqSection from "@/partials/FaqSection.astro";
import PageHeader from "@/partials/PageHeader.astro";
import PricingSection from "@/partials/PricingSection.astro";
import TestimonialCarousel from "@/partials/TestimonialCarousel.astro";
import TrustedBrands from "@/partials/TrustedBrands.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, description, meta_title, pageHeader } = (
  (await getEntry("pricing", "-index")) as CollectionEntry<"pricing">
).data;
---

<Base title={title} meta_title={meta_title} description={description}>
  <div class="ph-spacing bg-secondary space-y-10 md:space-y-20">
    <PageHeader title={pageHeader.title} description={pageHeader.subtitle} />
    <PricingSection isPageHeader={true} />
  </div>
  <section class="section">
    <div class="container">
      <TrustedBrands />
    </div>
  </section>
  <TestimonialCarousel variant="tertiary" />
  <FaqSection isCentered={true} />
  <CountriesServedSection />
  <CallToAction hasBackground={true} />
</Base>
